@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --sideBarWidth: 300px;

    /* PHARMACHOICE */
    --compPrimary: rgba(211,17,69);
    --compSecondary: rgba(0,102,164);

    /* CUSTOM */
    --primary: #0494fb;
    --secondary: #6bc4f9;
    --tertiary: #444;
}


.sidebar{
    position: fixed;
    height: 100%;
    width: var(--sideBarWidth);
    background-color: white;
    /* border-radius: 0 25px 25px 0; */
    /* box-shadow: 4px 0px 42px -8px #0004; */
    text-align: center;
    padding: 0 10px 0 10px;
}
.logo-header{
    padding: 25px;
}
.rotate-login{
    transform: rotate(-90deg) scale(3) translate(-50%, 0%);
}
.rotate-login h2{
    color: white !important;
}
#login-page{
    background-color: var(--primary);
}
#company-name{
    color: var(--primary);
    font-weight: 1000;
}
#company-name span{
    color: var(--secondary);
    font-weight: 100;
}
#slogan{
    padding: 5px;
    color: var(--tertiary);
    font-weight: 300;
    font-size: 12px;
}
.user-info{
    width: 100%;
    text-align: center;
    color: var(--tertiary);
    font-weight: 300;
    font-size: 12px;
}
.user-info h2{
    padding-top: 10px;
}
#user-profile{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
    font-size: 40px;
    font-weight: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}
#user-profile h1{
    font-weight: 300;
}
.badges img{
    width: 60px;
    height: 60px;
    /* background-color: white; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slim{
    font-weight: 100 !important;
}
.primary{
    color: var(--compPrimary);
}
.secondary{
    color: var(--compSecondary);
}
.bold{
    font-weight: 1000;
}

.action-buttons{
    margin: auto;
    width: 160px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    font-family: Poppins;
    color: var(--tertiary);
    font-size: 14px;
    font-weight: 500;
  }
.action-buttons:active{
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.25);
}
#custom-logo{
    width: 200px;
    margin-top: -25px;
    filter: brightness(0) invert(1) drop-shadow(0 0 1px #0004);
    /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.25); */
}
#logout{
    width: 100%;
    position: absolute;
    margin-bottom: 25px;
    left: 0;
    bottom: 0;
}
.dash-links{
    padding: 50px 0 50px 0;
    list-style: none
}
.dash-links a{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    font-weight: 500;
    border-radius: 10px;
}
.dash-links a{
    text-decoration: none;
    color: var(--tertiary);
}
.dash-links a:hover, #current-link{
    background-color: var(--primary);
    color: white !important;
}



.content{
    position: relative;
    background-color: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - var(--sideBarWidth));
    left: var(--sideBarWidth);
    padding: 20px;
}

header{
    width: 100%;
    height: 40px;
    /* background-color: var(--primary); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px; /* same as height! */
    color: #444;
    padding: 0 25px 0 25px;
}
.headerRight, .headerLeft{
    /* width: 100%; */
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    gap: 10px;
    font-weight: 100;
}
.headerRight{
    text-align: right;
}
.user-link{
    /* height: 25px; */
    padding: 0 25px;
    /* border: none; */
    border-radius: 50px;
    margin: 0 auto;
    background-color: #ddd;
    color: var(--tertiary);
    font-weight: 500;
    /* line-height: normal; */
    transition: all 0.3s ease;
    cursor: pointer;
}
.user-link:hover{
    background-color: var(--primary);
    color: white;
}
a{
    text-decoration: none;
}
.cells{
    position: relative;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.row{
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.cell{
    width: 100%;
    height: 100%;
}
.cell-header{
    width: 100%;
    height: 50px;
    background-color: var(--tertiary);
    line-height: 30px; /* height - 2(padding)*/
    padding: 10px 20px 10px 20px;
    border-radius: 10px 10px 0 0;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.collapse-arrow{
    transform: rotate(90deg);
    transition: 0.3s ease;
}
.collapse{
    cursor: pointer;
    background-color: var(--primary);
}
.collapse:hover{
    background-color: var(--secondary);
}
.collapse:hover .collapse-arrow{
    transform: rotate(-90deg);
}
.cell-header h2{
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.cell-content{
    /* background-color: red; */
    padding: 20px;
    width: 100%;
    /* height: 300px; */
    background-color: white;
    border-radius: 0 0 10px 10px;
    transition: 0.3s ease;
    overflow: hidden;
}
.cell-content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    text-align: center;
}
.formRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    /* padding-bottom: 10px; */
    text-align: left;
}
.cell-content form label{
    /* position: absolute; */
    font-size: 12px;
    margin-top: -17px;
    font-weight: 500;
}
.required{
    color: red;
}
.submit{
    display: inline;
    width: 160px;
    margin: 0 auto;
    padding: 9px 25px;
    background-color: #ddd;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 14px;    
    margin-top: 20px;
}
.submit:hover{
    background-color: var(--primary);
    color: white;
}
form input{
    font-size: 16px;
    padding: 2px;
}
form > *, form div > *{
    width: 100%;
}
.profiles{
    width: 100%;
    gap: 10px;
    border-collapse: separate;
    border-spacing: 0 5px;
}
th{
    text-align: left;
}
.profiles td, .profiles th{
    padding: 0 10px;
}
td #user-profile{
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--secondary);
    color: white;
    font-size: 5px;
    font-weight: 10;
}
.table-icon{
    cursor: pointer;
}

.trash, .edit, .rowData{
    transition: all 0.2s ease 0s;
}

.trash:hover{
    color: red;
}
.edit:hover{
    color: var(--secondary);
}
.rowData:hover{
    background-color: #ddd;
}



footer{
    width: 100%;
    padding: 25px;
}
footer h6{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--tertiary);
    font-weight: 100;
    width: 100%;
    margin-bottom: 25px;
    left: 0;
  }
